<h2> All Comments </h2>
<table class="table table-striped table-bordered">
  <thead class="table-header">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |c| %>
   
        <td><%= @pattern.comments.title %></td>
        <td><%= @pattern.comments.author %></td>
         <td><%= @pattern.comments.message %></td>
       
     
        </tr>
    <% end %>
  </tbody>
</table>