<h2> All Gardens </h2>
<table class="table table-striped table-bordered">
  <thead class="table-header">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Difficulty Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @gardens.each do |garden| %>
        <tr>
            <th scope="row"><%= link_to garden.garden_name, garden_path(garden), class: "btn btn-info btn-sm" %></th>
            <td><% for i in 1..garden.difficulty_rating do %><i class="fas fa-star gold-star"></i><% end %></td>
        </tr>
    <% end %>
  </tbody>
</table>