<h1> Welcome to Garden Tracker</h1>
<%= link_to 'Register', new_user_session_path, method: :get, class: "btn btn-outline-success" %>
<br>
OR
<br>
<%= link_to 'Sign In', user_session_path, method: :get, class: "btn btn-outline-success" %>